*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.bg-img{
    background-image: url(./10987114-c2bb-47ab-b7e1-d85b1b76d875.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9em;
    width: 100%;
}
.pilot-btn{
    align-items: center;
}
.bg-black{
 background-color: black;
}
.bg-section{
    background-color: #fd7e14;
}
.pilot-nav{
    text-align: center;
}
.pilot-section{
    border-radius: 30px;
}

.container-fluid{
    max-width: 100% !important;
}